
.right {
	float: right;
	width: 500px;

	padding: 80px 0px;
}

.carousel-control {
	width: 15%;
}


.row-centered {
	text-align:center;
}

.app-title {
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
}

.italic {
	font-style: italic;
	font-size: 20px;
}

.img-circle:hover {
	opacity: 0.5;
}