

<div class="container">

    <div class="row">
        <!-- Navigation bar at the top of the page -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped together for better mobile display-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">iQueue</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <!-- Canteen Dropdown -->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Canteens <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="deck">The Deck</a>
                                </li>
                                <li>
                                    <a ui-sref="terrace">The Terrace</a>
                                </li>
                                <li>
                                    <a ui-sref="frontier">The Frontier</a>
                                </li>
                                <li>
                                    <a ui-sref="technoedge">Technoedge</a>
                                </li>
                                <li>
                                    <a ui-sref="koufu">Koufu @ uTown</a>
                                </li>
                                <li>
                                    <a ui-sref="foodclique">FoodClique @ uTown</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a ui-sref="aboutUsLogged">About Us</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">More<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="account">Cart</a>
                                </li>
                                <li>
                                    <a ui-sref="order">Order</a>
                                </li>
                                <li>
                                    <a ng-show="user.isStoreOwner" ui-sref="store">My Store</a>
                                </li>
                                <li>
                                    <a ui-sref="default" data-ng-click="logOut()">Log Out</a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                </div>
                <!--navbar collapse -->
            </div>
            <!--container-fluid -->

        </nav>
    </div>

    <br><br><br>


    <div>
        <div class="row" style="height:80px;">
            <div class="text-center">
                <h2>The Terrace @ Biz</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--<h2>Dynamic Pills</h2> -->
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="pill" href="#chickenricestore">Chicken Rice Stall</a></li>
            <li><a data-toggle="pill" href="#western">Western Food</a></li>
            <li><a data-toggle="pill" href="#banmian">Ban Mian</a></li>
            <li><a data-toggle="pill" href="#japanese">Japanese</a></li>
        </ul>
    </div>

    <div class="row">

        <div class="tab-content">

            <div id="chickenricestore" class="tab-pane fade in active">

                <div class="col-sm-4">
                    <h3 style="padding-bottom:2%;">Chicken Rice Stall</h3>
                    <img src="images/chickenriceterrace.jpg" class="img-thumbnail" alt="Stall 1" style="width:400px;height:300px;">
                </div>

                <div class="col-sm-offset-2 col-sm-5 col-xs-offset-1 col-xs-10" style="padding-top:10%;">
                    <div class="row">
                        Select your dish!
                    </div>

                    <div class="row">
                        <span class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Select Your Meal!<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">

                                <li><a class="put-in-cart" href="#" data-name="Chicken rice"
                                       data-price="2.30">Chicken rice [$2.30]</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Duck rice"
                                        data-price="2.50">Duck rice [$2.50]</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Char Siew rice"
                                       data-price="2.40">Char Siew rice [$2.40]</a></li>
                            </ul>
                            <button class="btn btn-success add-to-cart" type="button">Add to Cart!</button>
                        </span>
                    </div>
                </div>
            </div>


            <div id="western" class="tab-pane fade">

                <div class="col-sm-4">
                    <h3 style="padding-bottom:2%;">Western Food</h3>
                    <img src="images/westernterrace.jpg" class="img-thumbnail" alt="Stall 2" style="width:400px;height:300px;">
                </div>

                <div class="col-sm-offset-2 col-sm-5 col-xs-offset-1 col-xs-10" style="padding-top:10%;">
                    <div class="row">
                        Select your dish!
                    </div>

                    <div class="row">
                        <span class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Select Your Meal!<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                               <li><a class="put-in-cart" href="#" data-name="Chicken chop" data-price="3.50">Chicken Chop</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Fish & Chips" data-price="3.30">Fish & Chips</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Pasta" data-price="2.50">Pasta</a></li>
                            </ul>
                            <button class="add-to-cart" type="button">Add to Cart!</button>

                        </span>
                    </div>

                </div>

            </div>

            <div id="banmian" class="tab-pane fade">

                <div class="col-sm-4">
                    <h3 style="padding-bottom:2%;">Ban Mian & Fish Bee Hoon</h3>
                    <img src="images/banmianterrace.jpg" class="img-thumbnail" alt="Stall 2" style="width:400px;height:300px;">
                </div>

                <div class="col-sm-offset-2 col-sm-5 col-xs-offset-1 col-xs-10" style="padding-top:10%;">
                    <div class="row">
                        Select your dish!
                    </div>

                    <div class="row">
                        <span class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Select Your Meal!<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                               <li><a class="put-in-cart" href="#" data-name="Sliced Fish Bee Hoon" data-price="2.40">Sliced Fish Bee Hoon</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Fried Fish Bee Hoon" data-price="2.50">Fried Fish Bee Hoon</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Fried Kway Teow" data-price="3.00">Fried Kway Teow</a></li>
                            </ul>
                            <button class="add-to-cart" type="button">Add to Cart!</button>

                        </span>
                    </div>

                </div>

            </div>

            <div id="japanese" class="tab-pane fade">

                <div class="col-sm-4">
                    <h3 style="padding-bottom:2%;">Japanese Cuisine</h3>
                    <img src="images/japterrace.jpg" class="img-thumbnail" alt="Stall 2" style="width:400px;height:300px;">
                </div>

                <div class="col-sm-offset-2 col-sm-5 col-xs-offset-1 col-xs-10" style="padding-top:10%;">
                    <div class="row">
                        Select your dish!
                    </div>

                    <div class="row">
                        <span class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Select Your Meal!<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="put-in-cart" href="#" data-name="Chicken Teriyaki Bento" data-price="3.50">Chicken Teriyaki Bento</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Ebi Bento" data-price="4.00">Ebi Bento</a></li>
                                <li><a class="put-in-cart" href="#" data-name="Ramen Set" data-price="3.50">Ramen Set</a></li>
                            </ul>
                            <button class="add-to-cart" type="button">Add to Cart!</button>

                        </span>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>
</div>



<script src="js/shoppingCart.js"></script>
<script>
    var name ;
    var price;

    $(function(){

        $(".dropdown-menu").on('click', 'li a', function(){
            $(".btn:first-child").text($(this).text());
            $(".btn:first-child").val($(this).text());
        });

    });
    $(".put-in-cart").click(function(event){
    event.preventDefault();
    name = $(this).attr("data-name");
    price = Number($(this).attr("data-price"));

        console.log(name);

    });
    $(".add-to-cart").click(function(event){
        event.preventDefault();
        /*var name = $(".put-in-cart").attr("data-name");
         console.log(name);
         var price = Number($(".put-in-cart").attr("data-price"));*/
        shoppingCart.addItemToCart(name, price, 1);
        if (price === undefined){
            alert("Please choose an item from the dropdown button!")
        }
        else {
            alert("Item added to cart!");
        }
        displayCart();
    });
    $(".clear-cart").click(function(event){
        shoppingCart.clearCart();
        alert("Cart cleared!");
        name = null;
        displayCart();
    });
    function displayCart() {
        var cartArray = shoppingCart.listCart();
        console.log(cartArray);
        var output = "";
        for (var i in cartArray) {
            output += "<li>"
                    +cartArray[i].name
                    +" <input class='item-count' type='number.toFixed(0)' data-name='"
                    +cartArray[i].name
                    +"' value='"+cartArray[i].count+"' >"
                    +" x "+cartArray[i].price
                    +" = "+cartArray[i].total
                    +" <button class='plus-item' data-name='"
                    +cartArray[i].name+"'>+</button>"
                    +" <button class='subtract-item' data-name='"
                    +cartArray[i].name+"'>-</button>"
                    +" <button class='delete-item' data-name='"
                    +cartArray[i].name+"'>X</button>"
                    +"</li>";
        }
        $("#show-cart").html(output);
        $("#count-cart").html( shoppingCart.countCart() );
        $("#total-cart").html( shoppingCart.totalCart() );
    }
    $("#show-cart").on("click", ".delete-item", function(event){
        var name = $(this).attr("data-name");
        shoppingCart.removeItemFromCartAll(name);
        displayCart();
    });
    $("#show-cart").on("click", ".subtract-item", function(event){
        var name = $(this).attr("data-name");
        shoppingCart.removeItemFromCart(name);
        displayCart();
    });
    $("#show-cart").on("click", ".plus-item", function(event){
        var name = $(this).attr("data-name");
        shoppingCart.addItemToCart(name, 0, 1);
        displayCart();
    });
    $("#show-cart").on("change", ".item-count", function(event){
        var name = $(this).attr("data-name");
        var count = Number($(this).val());
        shoppingCart.setCountForItem(name, count);
        displayCart();
    });
    displayCart()


</script>

<div>

</div>



